<p>
  <strong>gamer_achieve</strong>
  <%= @gamer_achieve.id %>
</p>

<p>
  <strong>gamer name surname:</strong>
  <%= @gamer_achieve.gamer.name %><%= @gamer_achieve.gamer.surname %> take achieve: <%= @gamer_achieve.achieve.description %>
</p>
<p>
  <strong>match gamer, when achieved:</strong>
  <%= @gamer_achieve.match.location %>
</p>
