<h4><%= link_to 'teams', teams_path %> |
    <%= link_to 'gamers', gamers_path %> |
    <%= link_to 'matches', matches_path %> |
    <%= link_to 'achieves', achieves_path %> |
    <%= link_to 'gamers achieves', gamer_achieves_path %> |
    <%= link_to 'Add achieve to gamer', new_gamer_achiefe_path %> |




</h4>


