<head>
    <meta charset="UTF-8">
    <title>Gamers</title>
</head>
<div class="container-team">
  <div class="container-team-int">
  <h1>List of available gamers</h1>

    <table border="1">
      <% @gamers.each do |gamer| %>
        <tr>
          <td><%= gamer.id %></td>
          <td><%= gamer.name %></td>
          <td><%= gamer.surname %></td>
          <td><%= gamer.age %></td>
          <td><%= link_to "show gamer stats", gamer_path(gamer) %></td>

        </tr>
      <% end %>
    </table>

  </div>
</div>